.row1, .row2, .row3, .row4, .row5, .row6{
	display: flex;
	gap: 2%;
	height: 70px;
	align-items: center;
}
.wordGrid div p{
	margin: 0;
	padding: 0;
	text-align: center;
	border: 1px solid black;
	width: 60px;
	height: 60px;
	font-size: 40px;
	border-radius: 4px
}
.controlls{
	margin-top: 10%;
	width: auto;
}