*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    background-image: url(assets/background.jpg);
    text-align: center;
    background-size: 100%;
}
img{
    height: 500px;
}
h1{
    font-size: 70px;
    color: white;
}